/*

*/
body {
    background-color: rgb(145, 145, 145);
    color: white;
}

h1 {
    color:rgb(131, 78, 54);
    font-size:50px;
    text-transform: uppercase ;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size:35px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
   color: aliceblue;
   font-size:25px;
   font-family: 'Times New Roman', Times, serif; 
}